.footer_background {
  background: linear-gradient(45deg, #f2f2f2 0%, rgba(228, 231, 250, 0.5) 100%);
}

.header_right {
  background: linear-gradient(180deg, #3f83f8 0%, #3f83f8 36.31%, rgba(151, 151, 151, 0) 100%);
}

.header_up {
  background: #003db2;
  filter: blur(30px);
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  position: absolute;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
  position: absolute;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* target the active bullet */
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-primary dark:bg-primary;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  @apply bg-primary dark:bg-primary;
}
