.footer_background {
  background: linear-gradient(45deg, #f2f2f2 0%, rgba(228, 231, 250, 0.5) 100%);
}

.header_right {
  background: linear-gradient(180deg, #eef9f9 0%, rgba(238, 249, 246, 0.77) 36.31%, rgba(151, 151, 151, 0) 100%);
}

.header_up {
  background: #003db2;
  filter: blur(30px);
}