*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  
}

.ui-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.ui-pointer-events-none {
  pointer-events: none
}

.ui-pointer-events-auto {
  pointer-events: auto
}

.ui-fixed {
  position: fixed
}

.ui-absolute {
  position: absolute
}

.ui-relative {
  position: relative
}

.ui-inset-0 {
  inset: 0px
}

.ui-inset-x-0 {
  left: 0px;
  right: 0px
}

.ui-inset-y-0 {
  top: 0px;
  bottom: 0px
}

.ui-bottom-0 {
  bottom: 0px
}

.ui-bottom-2 {
  bottom: 0.5rem
}

.ui-left-0 {
  left: 0px
}

.ui-left-2 {
  left: 0.5rem
}

.ui-right-0 {
  right: 0px
}

.ui-right-2 {
  right: 0.5rem
}

.ui-right-3 {
  right: 0.75rem
}

.ui-right-4 {
  right: 1rem
}

.ui-top-0 {
  top: 0px
}

.ui-top-2 {
  top: 0.5rem
}

.ui-top-4 {
  top: 1rem
}

.ui-top-full {
  top: 100%
}

.ui-z-10 {
  z-index: 10
}

.ui-z-50 {
  z-index: 50
}

.ui--mx-1 {
  margin-left: -0.25rem;
  margin-right: -0.25rem
}

.ui-mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.ui-my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem
}

.ui-mb-1 {
  margin-bottom: 0.25rem
}

.ui-ml-1 {
  margin-left: 0.25rem
}

.ui-ml-2 {
  margin-left: 0.5rem
}

.ui-ml-auto {
  margin-left: auto
}

.ui-mr-2 {
  margin-right: 0.5rem
}

.ui-mt-1 {
  margin-top: 0.25rem
}

.ui-mt-1\.5 {
  margin-top: 0.375rem
}

.ui-mt-2 {
  margin-top: 0.5rem
}

.ui-mt-4 {
  margin-top: 1rem
}

.ui-block {
  display: block
}

.\!ui-flex {
  display: flex !important
}

.ui-flex {
  display: flex
}

.ui-inline-flex {
  display: inline-flex
}

.ui-grid {
  display: grid
}

.ui-hidden {
  display: none
}

.\!ui-h-7 {
  height: 1.75rem !important
}

.ui-h-1 {
  height: 0.25rem
}

.ui-h-1\.5 {
  height: 0.375rem
}

.ui-h-10 {
  height: 2.5rem
}

.ui-h-11 {
  height: 2.75rem
}

.ui-h-12 {
  height: 3rem
}

.ui-h-2 {
  height: 0.5rem
}

.ui-h-2\.5 {
  height: 0.625rem
}

.ui-h-3 {
  height: 0.75rem
}

.ui-h-3\.5 {
  height: 0.875rem
}

.ui-h-32 {
  height: 8rem
}

.ui-h-4 {
  height: 1rem
}

.ui-h-5 {
  height: 1.25rem
}

.ui-h-7 {
  height: 1.75rem
}

.ui-h-8 {
  height: 2rem
}

.ui-h-9 {
  height: 2.25rem
}

.ui-h-full {
  height: 100%
}

.ui-h-px {
  height: 1px
}

.ui-max-h-32 {
  max-height: 8rem
}

.ui-max-h-screen {
  max-height: 100vh
}

.ui-w-1 {
  width: 0.25rem
}

.ui-w-10 {
  width: 2.5rem
}

.ui-w-2 {
  width: 0.5rem
}

.ui-w-2\.5 {
  width: 0.625rem
}

.ui-w-3 {
  width: 0.75rem
}

.ui-w-3\.5 {
  width: 0.875rem
}

.ui-w-3\/4 {
  width: 75%
}

.ui-w-4 {
  width: 1rem
}

.ui-w-5 {
  width: 1.25rem
}

.ui-w-64 {
  width: 16rem
}

.ui-w-7 {
  width: 1.75rem
}

.ui-w-72 {
  width: 18rem
}

.ui-w-8 {
  width: 2rem
}

.ui-w-full {
  width: 100%
}

.ui-w-max {
  width: -moz-max-content;
  width: max-content
}

.ui-max-w-lg {
  max-width: 32rem
}

.ui-max-w-max {
  max-width: -moz-max-content;
  max-width: max-content
}

.ui-flex-1 {
  flex: 1 1 0%
}

.ui-rotate-45 {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

@keyframes ui-pulse {
  50% {
    opacity: .5
  }
}

.ui-animate-pulse {
  animation: ui-pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

@keyframes ui-spin {
  to {
    transform: rotate(360deg)
  }
}

.ui-animate-spin {
  animation: ui-spin 1s linear infinite
}

.ui-cursor-default {
  cursor: default
}

.ui-cursor-pointer {
  cursor: pointer
}

.ui-select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.ui-list-none {
  list-style-type: none
}

.ui-flex-col {
  flex-direction: column
}

.ui-flex-col-reverse {
  flex-direction: column-reverse
}

.ui-items-end {
  align-items: flex-end
}

.\!ui-items-center {
  align-items: center !important
}

.ui-items-center {
  align-items: center
}

.ui-justify-center {
  justify-content: center
}

.ui-justify-between {
  justify-content: space-between
}

.ui-gap-1 {
  gap: 0.25rem
}

.ui-gap-2 {
  gap: 0.5rem
}

.ui-gap-4 {
  gap: 1rem
}

.\!ui-gap-x-1 {
  -moz-column-gap: 0.25rem !important;
       column-gap: 0.25rem !important
}

.ui-gap-x-1 {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem
}

.ui-gap-x-2 {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.ui-gap-y-1 {
  row-gap: 0.25rem
}

.ui-gap-y-2 {
  row-gap: 0.5rem
}

.ui-gap-y-3 {
  row-gap: 0.75rem
}

.ui-space-x-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.25rem * var(--tw-space-x-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--tw-space-x-reverse)))
}

.ui-space-x-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0.375rem * var(--tw-space-x-reverse));
  margin-left: calc(0.375rem * calc(1 - var(--tw-space-x-reverse)))
}

.ui-space-x-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.ui-space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.ui-space-y-1\.5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.375rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.375rem * var(--tw-space-y-reverse))
}

.ui-space-y-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.ui-divide-y > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse))
}

.ui-divide-gray-200 > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-divide-opacity))
}

.ui-overflow-auto {
  overflow: auto
}

.ui-overflow-hidden {
  overflow: hidden
}

.ui-overflow-y-visible {
  overflow-y: visible
}

.ui-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.ui-whitespace-nowrap {
  white-space: nowrap
}

.ui-rounded {
  border-radius: 0.25rem
}

.ui-rounded-full {
  border-radius: 9999px
}

.ui-rounded-lg {
  border-radius: var(--radius)
}

.ui-rounded-md {
  border-radius: calc(var(--radius) - 2px)
}

.ui-rounded-none {
  border-radius: 0px
}

.ui-rounded-sm {
  border-radius: calc(var(--radius) - 4px)
}

.ui-rounded-tl-sm {
  border-top-left-radius: calc(var(--radius) - 4px)
}

.ui-border {
  border-width: 1px
}

.ui-border-2 {
  border-width: 2px
}

.ui-border-b {
  border-bottom-width: 1px
}

.ui-border-l {
  border-left-width: 1px
}

.ui-border-r {
  border-right-width: 1px
}

.ui-border-t {
  border-top-width: 1px
}

.ui-border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.ui-border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.ui-border-transparent {
  border-color: transparent
}

.ui-bg-transparent {
  background-color: transparent
}

.ui-fill-current {
  fill: currentColor
}

.ui-p-1 {
  padding: 0.25rem
}

.ui-p-2 {
  padding: 0.5rem
}

.ui-p-3 {
  padding: 0.75rem
}

.ui-p-4 {
  padding: 1rem
}

.ui-p-6 {
  padding: 1.5rem
}

.\!ui-px-1 {
  padding-left: 0.25rem !important;
  padding-right: 0.25rem !important
}

.ui-px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.ui-px-1\.5 {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.ui-px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.ui-px-2\.5 {
  padding-left: 0.625rem;
  padding-right: 0.625rem
}

.ui-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.ui-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.ui-px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.ui-px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.ui-py-0 {
  padding-top: 0px;
  padding-bottom: 0px
}

.ui-py-0\.5 {
  padding-top: 0.125rem;
  padding-bottom: 0.125rem
}

.ui-py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.ui-py-1\.5 {
  padding-top: 0.375rem;
  padding-bottom: 0.375rem
}

.ui-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.ui-py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.ui-pb-4 {
  padding-bottom: 1rem
}

.ui-pl-4 {
  padding-left: 1rem
}

.ui-pl-8 {
  padding-left: 2rem
}

.ui-pr-2 {
  padding-right: 0.5rem
}

.ui-pr-4 {
  padding-right: 1rem
}

.ui-pr-8 {
  padding-right: 2rem
}

.ui-pt-0 {
  padding-top: 0px
}

.ui-text-left {
  text-align: left
}

.ui-text-center {
  text-align: center
}

.ui-align-middle {
  vertical-align: middle
}

.ui-text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.ui-text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.ui-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.ui-text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.ui-font-bold {
  font-weight: 700
}

.ui-font-medium {
  font-weight: 500
}

.ui-font-normal {
  font-weight: 400
}

.ui-font-semibold {
  font-weight: 600
}

.ui-leading-none {
  line-height: 1
}

.ui-tracking-tight {
  letter-spacing: -0.025em
}

.ui-tracking-widest {
  letter-spacing: 0.1em
}

.ui-text-current {
  color: currentColor
}

.ui-text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

.ui-opacity-0 {
  opacity: 0
}

.ui-opacity-50 {
  opacity: 0.5
}

.ui-opacity-70 {
  opacity: 0.7
}

.ui-opacity-90 {
  opacity: 0.9
}

.ui-shadow-lg {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ui-shadow-md {
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ui-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.ui-outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.ui-ring-0 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.ui-transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ui-transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ui-transition-colors {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ui-transition-opacity {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ui-transition-transform {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.ui-duration-200 {
  transition-duration: 200ms
}

.ui-ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

@keyframes enter {
  from {
    opacity: var(--tw-enter-opacity, 1);
    transform: translate3d(var(--tw-enter-translate-x, 0), var(--tw-enter-translate-y, 0), 0) scale3d(var(--tw-enter-scale, 1), var(--tw-enter-scale, 1), var(--tw-enter-scale, 1)) rotate(var(--tw-enter-rotate, 0))
  }
}

@keyframes exit {
  to {
    opacity: var(--tw-exit-opacity, 1);
    transform: translate3d(var(--tw-exit-translate-x, 0), var(--tw-exit-translate-y, 0), 0) scale3d(var(--tw-exit-scale, 1), var(--tw-exit-scale, 1), var(--tw-exit-scale, 1)) rotate(var(--tw-exit-rotate, 0))
  }
}

.ui-duration-200 {
  animation-duration: 200ms
}

.ui-ease-in-out {
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.file\:ui-border-0::file-selector-button {
  border-width: 0px
}

.file\:ui-bg-transparent::file-selector-button {
  background-color: transparent
}

.file\:ui-text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.file\:ui-font-medium::file-selector-button {
  font-weight: 500
}

.hover\:ui-bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.hover\:ui-underline:hover {
  text-decoration-line: underline
}

.hover\:ui-opacity-100:hover {
  opacity: 1
}

.focus\:ui-opacity-100:focus {
  opacity: 1
}

.focus\:ui-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:ui-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:ui-ring-offset-2:focus {
  --tw-ring-offset-width: 2px
}

.focus-visible\:ui-outline-none:focus-visible {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus-visible\:ui-ring-2:focus-visible {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus-visible\:ui-ring-offset-2:focus-visible {
  --tw-ring-offset-width: 2px
}

.disabled\:ui-pointer-events-none:disabled {
  pointer-events: none
}

.disabled\:ui-cursor-not-allowed:disabled {
  cursor: not-allowed
}

.disabled\:ui-opacity-50:disabled {
  opacity: 0.5
}

.ui-group:hover .group-hover\:ui-opacity-100 {
  opacity: 1
}

.ui-group.destructive .group-\[\.destructive\]\:ui-text-red-300 {
  --tw-text-opacity: 1;
  color: rgb(252 165 165 / var(--tw-text-opacity))
}

.ui-group.destructive .group-\[\.destructive\]\:hover\:ui-text-red-50:hover {
  --tw-text-opacity: 1;
  color: rgb(254 242 242 / var(--tw-text-opacity))
}

.ui-group.destructive .group-\[\.destructive\]\:focus\:ui-ring-red-400:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(248 113 113 / var(--tw-ring-opacity))
}

.ui-group.destructive .group-\[\.destructive\]\:focus\:ui-ring-offset-red-600:focus {
  --tw-ring-offset-color: #dc2626
}

.ui-peer:disabled ~ .peer-disabled\:ui-cursor-not-allowed {
  cursor: not-allowed
}

.ui-peer:disabled ~ .peer-disabled\:ui-opacity-70 {
  opacity: 0.7
}

.data-\[disabled\]\:ui-pointer-events-none[data-disabled] {
  pointer-events: none
}

.data-\[side\=bottom\]\:ui-translate-y-1[data-side=bottom] {
  --tw-translate-y: 0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=left\]\:ui--translate-x-1[data-side=left] {
  --tw-translate-x: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[side\=top\]\:ui--translate-y-1[data-side=top] {
  --tw-translate-y: -0.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[state\=checked\]\:ui-translate-x-5[data-state=checked] {
  --tw-translate-x: 1.25rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[state\=unchecked\]\:ui-translate-x-0[data-state=unchecked] {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[swipe\=cancel\]\:ui-translate-x-0[data-swipe=cancel] {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.data-\[disabled\]\:ui-opacity-50[data-disabled] {
  opacity: 0.5
}

.data-\[state\=active\]\:ui-shadow-sm[data-state=active] {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.data-\[swipe\=move\]\:ui-transition-none[data-swipe=move] {
  transition-property: none
}

.data-\[state\=closed\]\:ui-duration-300[data-state=closed] {
  transition-duration: 300ms
}

.data-\[state\=open\]\:ui-duration-500[data-state=open] {
  transition-duration: 500ms
}

.data-\[state\=closed\]\:ui-duration-300[data-state=closed] {
  animation-duration: 300ms
}

.data-\[state\=open\]\:ui-duration-500[data-state=open] {
  animation-duration: 500ms
}

.ui-group[data-state=open] .group-data-\[state\=open\]\:ui-rotate-180 {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

:is(.ui-dark .dark\:ui-divide-gray-700) > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 1;
  border-color: rgb(55 65 81 / var(--tw-divide-opacity))
}

:is(.ui-dark .dark\:ui-border-gray-500) {
  --tw-border-opacity: 1;
  border-color: rgb(107 114 128 / var(--tw-border-opacity))
}

:is(.ui-dark .dark\:ui-text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

:is(.ui-dark .dark\:hover\:ui-bg-gray-600:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(75 85 99 / var(--tw-bg-opacity))
}

@media (min-width: 640px) {
  .sm\:ui-bottom-0 {
    bottom: 0px
  }

  .sm\:ui-right-0 {
    right: 0px
  }

  .sm\:ui-top-auto {
    top: auto
  }

  .sm\:ui-mt-0 {
    margin-top: 0px
  }

  .sm\:ui-max-w-sm {
    max-width: 24rem
  }

  .sm\:ui-flex-row {
    flex-direction: row
  }

  .sm\:ui-flex-col {
    flex-direction: column
  }

  .sm\:ui-justify-end {
    justify-content: flex-end
  }

  .sm\:ui-space-x-2 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(0.5rem * var(--tw-space-x-reverse));
    margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .sm\:ui-rounded-lg {
    border-radius: var(--radius)
  }

  .sm\:ui-text-left {
    text-align: left
  }
}

@media (min-width: 768px) {
  .md\:ui-absolute {
    position: absolute
  }

  .md\:ui-w-auto {
    width: auto
  }

  .md\:ui-w-full {
    width: 100%
  }
}

.\[\&\:has\(\[role\=checkbox\]\)\]\:ui-pr-0:has([role=checkbox]) {
  padding-right: 0px
}

.\[\&\:has\(svg\)\]\:ui-pl-11:has(svg) {
  padding-left: 2.75rem
}

.\[\&\>svg\]\:ui-absolute>svg {
  position: absolute
}

.\[\&\>svg\]\:ui-left-4>svg {
  left: 1rem
}

.\[\&\>svg\]\:ui-top-4>svg {
  top: 1rem
}

.\[\&\[data-state\=open\]\>svg\]\:ui-rotate-180[data-state=open]>svg {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.\[\&_p\]\:ui-leading-relaxed p {
  line-height: 1.625
}

.\[\&_tr\:last-child\]\:ui-border-0 tr:last-child {
  border-width: 0px
}

.\[\&_tr\]\:ui-border-b tr {
  border-bottom-width: 1px
}
